* {
    margin: 0px;
    padding: 0px;
}

.navigation {
    background-color: #E5E1DA;
    text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Overpass:400,700);
div.perfect2trade {
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    color: #333
}

div.perfect2trade.inverse {
    background: #333;
    color: #fff;
}

div.perfect2trade div.t-container {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 auto
}

div.perfect2trade div.navigation div.t-container {
    width: calc(90% - 60px);
    padding: 30px;
    border-bottom: 1px solid #eee
}

div.perfect2trade nav {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 0
}

div.perfect2trade nav a {
    text-decoration: none;
    padding: 10px;
    color: #333;
    display: inline-block
}

div.perfect2trade.inverse nav a {
    color: #fff;
}

div.perfect2trade nav a.brand {
    font-size: 1.5em;
    text-transform: uppercase
}

div.perfect2trade nav.links {
    text-align: right;
    text-transform: uppercase;
    float: right;
    margin-top: 3%;
}

div.perfect2trade nav.links a {
    margin-left: 10px
}

div.perfect2trade nav.links a:hover {
    background: #eee;
    color: #111;
    transition: 150ms linear all
}

div.perfect2trade.inverse nav.links a:hover {
    background: #222;
    color: #fff;
}

div.perfect2trade div.flash {
    width: 100%;
    display: block;
    margin: 15px 0
}

div.perfect2trade div.flash div.third {
    width: calc(100% /3);
    display: inline-block;
    text-align: center;
    background: #E7A88D;
    color: #fff;
    padding: 15px 0;
    text-transform: uppercase;
    float: right;
}

div.perfect2trade.inverse div.flash div.third {
    background: #222;
}

div.perfect2trade div.flash div.third:nth-child(2) {
    background: #DA6C3D;
}

div.perfect2trade div.half {
    width: calc(50% - 5px);
    display: inline-block;
    vertical-align: middle
}

div.perfect2trade div.half.images {
    text-align: center
}

div.perfect2trade div.half:nth-of-type(2n) {
    margin-right: 10px;
    float: right;
    margin-top: 10%;
}

div.perfect2trade div.half div.image {
    height: 400px;
    width: calc(100% - 10px);
    max-width: 400px;
    border: 1px solid #eee;
    padding: 5px;
    margin: 10px auto;
    display: none;
    font-size: 0;
    vertical-align: middle
}

div.perfect2trade.inverse div.half div.image {
    display: block;
    border: none;
}

div.perfect2trade div.half div.image:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%
}

div.perfect2trade div.half div.thumbnail {
    height: 70px;
    width: 70px;
    border: 1px solid #eee;
    padding: 2px;
    display: inline-block;
    margin-right: 3px;
    font-size: 0
}

div.perfect2trade div.half div.thumbnail:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%
}

div.perfect2trade div.half div.thumbnail:last-child {
    margin-right: 0
}

div.perfect2trade div.half.content h1,
div.perfect2trade h3 {
    margin: 15px 0 0;
    color: #666
}

div.perfect2trade div.half.content h2 {
    color: #777;
    margin: 0;
    font-size: 1.2em
}

div.perfect2trade div.half.content p {
    color: #666;
    font-size: 1.1em
}

div.perfect2trade.inverse div.half.content p,
div.perfect2trade.inverse div.half.content h2,
div.perfect2trade.inverse div.half.content h1,
div.perfect2trade.inverse h3 {
    color: #fff;
}

div.perfect2trade div.break {
    width: 20%;
    height: 1px;
    background: #eee;
    display: block;
    margin: 10px 0 30px
}

div.perfect2trade ul {
    font-size: 1.1em;
    padding: 0;
    margin-left: 25px
}

div.perfect2trade ul li {
    color: #666
}

div.perfect2trade div.pricing {
    display: flex;
    align-items: stretch;
}

div.perfect2trade span.price {
    font-size: 1.2em;
    line-height: 1.15em;
    border: 1px solid #333;
    padding: 13px 15px;
    margin: 15px 0 0
}


/*div.perfect2trade span.price del:after {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  content: "unlicensed template";
  left: 0;
  top: 0;
}*/

div.perfect2trade a.buy {
    margin: 15px 0 0;
    padding: 15px;
    font-size: 1.2em;
    line-height: 1.2em;
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase
}

div.perfect2trade.inverse a.buy {
    background: #fff;
    color: #333;
}

div.perfect2trade a.buy:hover {
    background: #111;
    transition: .2s linear all
}

div.perfect2trade.inverse a.buy:hover {
    background: #eee;
    color: #333;
}

div.perfect2trade footer {
    background: #E5E1DA;
    padding: 60px 0;
    width: 100%;
    display: block;
    margin: 70px 0 0
}

div.perfect2trade.inverse footer {
    margin: 0;
}

div.perfect2trade footer div.t-container-fifth {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    color: #666;
    display: table-cell;
}

div.perfect2trade footer nav {
    margin: 0;
    padding: 0
}

div.perfect2trade footer nav a {
    display: block;
    text-align: left;
    padding: 2px;
    color: #888
}

div.perfect2trade footer nav a:hover {
    background: 0 0;
    color: #333
}

div.perfect2trade footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

div.perfect2trade footer ul li {
    margin: 0;
    padding: 0
}

div.perfect2trade span.icon {
    height: 1.15em;
    width: 1.15em;
    margin-right: 7px;
    margin-bottom: -3px;
    display: inline-block
}

div.perfect2trade span.icon.fb {
    background-image: url(https://joshuamcewen.co.uk/site/resources/img/social/facebook.svg)
}

div.perfect2trade span.icon.tw {
    background-image: url(https://joshuamcewen.co.uk/site/resources/img/social/twitter.svg)
}

div.perfect2trade span.icon.in {
    background-image: url(https://joshuamcewen.co.uk/site/resources/img/social/instagram.svg)
}

div.perfect2trade.inverse span.icon.fb {
    background-image: url(https://joshuamcewen.co.uk/site/resources/img/social/facebook-iv.svg)
}

div.perfect2trade.inverse span.icon.tw {
    background-image: url(https://joshuamcewen.co.uk/site/resources/img/social/twitter-iv.svg)
}

div.perfect2trade.inverse span.icon.in {
    background-image: url(https://joshuamcewen.co.uk/site/resources/img/social/instagram-iv.svg)
}

div.perfect2trade.inverse span.icon.yt {
    background-image: url(https://joshuamcewen.co.uk/site/resources/img/social/youtube-iv.svg)
}

div.perfect2trade span.icon.paypal {
    background-image: url(https://joshuamcewen.co.uk/media/paypal.svg);
    height: 2.5em;
    width: 2.5em
}

div.perfect2trade span.icon.visa {
    background-image: url(https://joshuamcewen.co.uk/media/visa.svg);
    height: 2.5em;
    width: 2.5em
}

div.perfect2trade span.icon.mastercard {
    background-image: url(https://joshuamcewen.co.uk/media/mastercard.svg);
    height: 2.5em;
    width: 2.5em
}

div.perfect2trade span.icon.amex {
    background-image: url(https://joshuamcewen.co.uk/media/amex.svg);
    height: 2.5em;
    width: 2.5em
}

div.perfect2trade span.icon.discover {
    background-image: url(https://joshuamcewen.co.uk/media/discover.svg);
    height: 2.5em;
    width: 2.5em
}

div.perfect2trade #tab1:checked~#content1,
div.perfect2trade #tab2:checked~#content2,
div.perfect2trade #tab3:checked~#content3,
div.perfect2trade #tab4:checked~#content4 {
    transition: 150ms linear all;
    display: block
}

div.perfect2trade #img1:checked~#show1,
div.perfect2trade #img2:checked~#show2,
div.perfect2trade #img3:checked~#show3,
div.perfect2trade #img4:checked~#show4,
div.perfect2trade #img5:checked~#show5 {
    display: block
}

div.perfect2trade section {
    display: none;
    padding: 30px 20px 40px;
    border-top: 1px solid #ddd
}

div.perfect2trade.inverse section {
    height: auto;
}

img {
    max-width: 100%;
}

div.perfect2trade input {
    display: none
}

div.perfect2trade label {
    display: inline-block;
    padding: 10px;
    background: #333;
    color: #fff
}

div.perfect2trade label:hover {
    background: #111;
    cursor: pointer;
    transition: .2s linear all
}

div.perfect2trade input:checked+label {
    background: #000
}

div.perfect2trade div.images label {
    display: inline-block;
    background: 0 0;
    padding: 5px;
    color: #fff;
    vertical-align: middle
}

div.perfect2trade div.images img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    display: inline-block
}

div.perfect2trade div.images label:hover {
    bakground: #666;
    transition: .2s linear all
}

div.perfect2trade div.images input:checked+label {
    background: #eee
}

@media screen and (max-width: 600px) {
    div.perfect2trade nav,
    div.perfect2trade nav.links a {
        display: block;
        text-align: center
    }
    div.perfect2trade div.half {
        margin: 0;
        width: 100%
    }
    div.perfect2trade div.image {
        max-width: 100%
    }
    div.perfect2trade label {
        font-size: .8em
    }
    div.perfect2trade div.flash div.third {
        display: block;
        width: 100%
    }
    div.perfect2trade div.flash,
    div.perfect2trade nav {
        width: 100%
    }
    div.perfect2trade footer {
        padding: 0
    }
    div.perfect2trade footer div.t-container-fifth {
        width: calc(100% - 30px);
        padding: 15px
    }
}

.main {
    text-align: center;
}

.perfect2trade>h1 {
    text-align: center;
}

.description {
    text-align: center;
}
